<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>InterVariable.ttf</string>
		<string>SUIT-Bold.ttf</string>
		<string>SUIT-ExtraBold.ttf</string>
		<string>SUIT-ExtraLight.ttf</string>
		<string>SUIT-Heavy.ttf</string>
		<string>SUIT-Light.ttf</string>
		<string>SUIT-Medium.ttf</string>
		<string>SUIT-Regular.ttf</string>
		<string>SUIT-SemiBold.ttf</string>
		<string>SUIT-Thin.ttf</string>
		<string>SUIT-Variable.ttf</string>
	</array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>kakaomap</string>
        <string>nmap</string>
    </array>
</dict>
</plist>
